NODE_PROVIDER_MATIC_RPC_URL=https://matic-mainnet.chainstacklabs.com
TEST_TIMEOUT=300000
NODE_PROVIDER_MUMBAI_RPC_URL=https://matic-mumbai.chainstacklabs.com
NODE_PROVIDER_CELO_RPC_URL=https://forno.celo.org
NODE_PROVIDER_ALFAJORES_RPC_URL=https://alfajores-forno.celo-testnet.org
